@font-face {
    font-family: 'Montserrat';
    src: url(../Fonts/Montserrat-Regular_d60d904c27aa445d89a0a8e18a1f3fed.ttf);
  }
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

a{
    text-decoration: none !important;
    color: black;
   
}


li{
    list-style-type: none;
}
body{
    font-family: 'Montserrat', sans-serif;
}

h3,h5{
    font-family: 'Montserrat', sans-serif;
}


.ribbon {
    width: 9.375rem;
    height: 9.375rem;
    overflow: hidden;
    position: absolute;
  }
  .ribbon::before,
  .ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #FF5F01;
  }
  .ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    background-color: #FF5F01;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    font: 700 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
  }
  
  /* top left*/
  .ribbon-top-left {
    top: -10px;
    left: -10px;
  }
  .ribbon-top-left::before,
  .ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
  }
  .ribbon-top-left::before {
    top: 0;
    right: 0;
  }
  .ribbon-top-left::after {
    bottom: 0;
    left: 0;
  }
  .ribbon-top-left span {
    right: -25px;
    top: 30px;
    transform: rotate(-45deg);
  }
 
  

.offer-banner-head h1{
    font-size: 4.5rem;
}
.offer-banner-head p{
    font-size: 1.8rem;
    text-transform: uppercase;
}

@media screen and (max-width:450px){
    .offer-banner-head h1{
        font-size: 3rem;
    }
    .offer-banner-head p{
        font-size: 1.2rem;
        text-transform: uppercase;
    }
       
}