*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
#inputGroupOffer::before{
  margin-right: 1rem;
}
.filter-cont button{
    color:white;
    background: #000;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 5px;
    border:none;
}





.filter-cont a{
    color: #000;
    font-size: 0.8rem;
    font-weight: bold;
  
    margin-left: 0.4rem;
}

.filter-cont a,.filter-cont button,.filter-cont select{
    padding: 0.4rem 0.8rem;
}
.filter-cont a:hover{
    background: linear-gradient(to bottom, rgba(242,56,0,1) 0%, rgba(247,129,2,1) 100%);
    color:#fff
}

.born{
    background: url("../Assets/imagesn.png") no-repeat bottom left;
    background-size: contain; 
  transition: background 0.6s;
}

.born:hover{
    background: url("../Assets/imagesn.png") no-repeat top left
}
#hard-btn{
    padding: 0;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: none !important;
}

#collapseExample form select{
    border:none;
    padding:4px;
}


.categories-cont{
    padding: 1rem;
    background: #fff;
}

.category-name{
    padding :0.7rem 1.4rem;
    background:#f3f1f6;
    font-size:1rem;
    transition:all 0.2s;
    font-family: 'Roboto',sans-serif;
}
.category-name:hover{
    transform: scale(1.1);
    background:linear-gradient(to bottom, rgba(242,56,0,1) 0%, rgba(247,129,2,1) 100%);
    color: white;
}

.step-row span{
padding:0.4rem 0.6rem;
background: linear-gradient(to bottom, rgba(242,56,0,1) 0%, rgba(247,129,2,1) 100%);
color: white;
line-height: 34px;
}

.col-div-v1 i{
    color:#FFD700;
    font-size: 14px;
  }
  .col-div-v1{
  
    color: #fff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  
  }
  .col-div-v1 h5{
  font-weight: bold;
  }
  .col-div-v3{
    background: #e6e6e6;
  }
  .col-div-v2{
   
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  
  .card-vicon-cont button{
  padding: 6px;
  background: #FF5F01;
  border-radius: 5px;
  color: white;
  border: none;
  }
  
  .card-vicon-cont .btn-eye{
    background: #e6e6e6 !important;
    color: #000 !important;
  }
  .col-18{
    border-radius: 12px;
  }
  

  @media screen and (max-width:450px){
    .filter-cont button{
      color:white;
      background: #000;
      font-size: 12px;
      font-weight: bold;
      border-radius: 5px;
      border:none;
  }
  .filter-cont a{
      color: #000;
      font-size: 0.8rem;
      font-weight: bold;
    
      margin-left: 0.4rem;
  }
  
  .filter-cont a,.filter-cont button,.filter-cont select{
      padding: 0.2rem 0.4rem;
  }



  .step-row .bg{
    min-width: 94.2vw !important;
   }
   .step-row{overflow-x:auto;max-width:94vw !important;   }

  }

  @media screen and (max-width:768px){
    .step-row .bg{
      min-width: 49vw;
     }
     .step-row{overflow-x:auto;max-width:100vw;   }

  }