<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="./Assets/orangeLogo.png">
    <link rel="apple-touch-icon" href="./Assets/logo.png">
    <title>VIP Mobile Number | Fancy</title>
</head>
<body>
    <footer class="footer">
        <div class="container-fluid">
          <div class="row p-1 p-md-3">
            <div class="col-lg-4 col-md-12 col-12 mt-2">
              <div class="d-flex justify-content-start flex-column">
                <h2 class="footer-heading">Contact us</h2>
                <p class="footer-para">
                  Shop No 23, Old idea point, Main market, Police station Road,
                  Anupgarh Distt. Sri ganganagar Rajasthan 335701
                </p>
                <p class="footer-para">Email: cs@vipnumberstore.in</p>
              </div>
            </div>
            <div class="col-lg-2 col-md-4 col col-6 mt-2">
              <div class="d-flex justify-content-start flex-column">
                <h2 class="footer-heading">Support</h2>
                <a href="#" class="footer-link">Contact us</a>
                <a href="#" class="footer-link">FAQ's</a>
              </div>
            </div>
            <div class="col-lg-2 col-md-4  col-6 mt-2">
              <div class="d-flex justify-content-start flex-column">
                <h2 class="footer-heading">We Accept</h2>
                <a href="#" class="footer-link">Term & conditions</a>
                <a href="#" class="footer-link">Privacy Policy</a>
                <a href="#" class="footer-link">Refund Policy</a>
              </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 mt-2">
              <div class="d-flex justify-content-start flex-column pb-1">
                <h2 class="footer-heading">Social Media</h2>
                <div class="d-flex justify-content-start flex-row mt-2">
                  <div class="social-icon ">
                    <i class="fa-brands fa-facebook-square"></i>
                  </div>
                  <div class="social-icon mx-2">
                    <i class="fa-brands fa-twitter"></i>
                  </div>
                  <div class="social-icon">
                    <i class="fa-brands fa-instagram"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 mt-2">
              <div class="d-flex justify-content-start flex-column">
              <h2 class="footer-heading">Payment Accepted</h2>
                <div class="img">
                  <img src="./Assets/payment-options.png" alt="payment" />
                </div>
                </div>
          </div>
          <h2 class="text-center copyright">
            © Vip Number Store. All Rights Reserved.
          </h2>
        </div>
      </footer>
</body>
</html>